# Emacs Related
auto-save-list
.\#*
#*
*~
*.elc
emacsconfig.el
emacsconfig.tex
emacsconfig.org
emacsconfig.html

# Vim
# Swap
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]
